<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission - Delete</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <form action="#" th:action="@{/api/maths/student/delete}" method="get">
            <p>Id to delete: <input type="text" th:name="id"/></p>
            <p class="buttons"><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
</body>
</html>